body {
    background-color: #1e1e1e;
    color: #FFF;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #17487d;
    border-radius: 15px;
}

input {
    width: 350px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #1e1e1e;
    text-align: center;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    background-color: red;
    text-align: center;
    
}

.principal {
    display: flex;
    flex-direction: row;
}

.geral {
    display: flex;
    flex-direction: column;
    background-color: green;
    margin: 1px;
    padding: 10px;
}

.produtos {
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: aqua;
    width: 280px;
    height: 280px;
}

.informacoes {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 5px;
    font-size: 11px;
}

.informacao_1 {
    margin-left: 10px;
}

.informacao_2 {
    margin-left: 10px;
}
