@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
    background-color: #1e1e1e;
    color: #FFF;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #17487d;
    border-radius: 15px;
}

input {
    width: 350px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #1e1e1e;
    text-align: center;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #1e1e1e;
}

button:hover {
    background-color: #1e1e1e;
    color: #FFF;
    cursor: pointer;
}

nav {
    margin-top: 15px;
    margin-bottom: 15px;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titulo {
    background-color: #1e1e1e;
    border-radius: 15px;
    padding: 10px;
}

.principal {
    display: flex;
    flex-direction: row;
}

.nome_produto {
    background-color: #1e1e1e;
    padding: 10px;
}

.nome_produto a {
    text-decoration: none;
    color: #FFF;
}

.nome_produto a:hover {
    text-decoration: underline;
    color: #17487d;
}

.descricao_produto {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 30px;
}

.descricao_produto:hover {
    background-color: #1e1e1e;
    padding: 30px;
    opacity: 1;
}

.geral {
    display: flex;
    flex-direction: column;
    background-color: #17487d;
    margin: 1px;
    padding: 10px;
}

.produtos {
    flex-direction: column;
    margin: 5px;
    width: 280px;
    height: 280px;
}

.informacoes {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 5px;
    font-size: 11px;
}

.informacao_1 {
    margin-left: 10px;
}

.informacao_2 {
    margin-left: 10px;
}

.personal_information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #17487d;
    padding: 50px;
    border-radius: 15px;
}

.social img {
    width: 35px;
    height: 35px;
    background-color: #FFF;
    border-radius: 15px;
    margin-bottom: 15px;
}

.social img:hover {
    background-color: #1e1e1e;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p a {
    text-decoration: none;
    color: #FFF;
    background-color: #1e1e1e;
    padding: 5px;
    margin-left: 2px;
    border-radius: 15px;
}

footer p a:hover {
    background-color: #FFF;
    color: #1e1e1e;
}
